<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Accueil</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="{{ asset('lib/css/bootstrap.min.css') }}" type="text/css" />
        {{ include('layouts/styles.html.twig') }}
    </head>
    <body>
        {{ include('layouts/header.html.twig') }}
        <div class="container">
            <div class="jumbotron">
            <h1 class="display-4">Bienvenue</h1>
            </div>
        </div>
{{ include('layouts/footer.html.twig') }}