<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>TITRE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        {{ include('layouts/styles.html.twig') }}
    </head>
    <body>
        {{ include('layouts/header.html.twig') }}
        <div id="app" class="container">
            <h2>TITRE</h2>
            <span>Description</span>
            <hr>
            <div>
            </div>
        </div>
{{ include('layouts/footer.html.twig') }}