<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Envoi de mail</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="{{ asset('lib/css/bootstrap.min.css') }}" type="text/css" />
        {{ include('layouts/styles.html.twig') }}
    </head>
    <body>
        {{ include('layouts/header.html.twig') }}
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Test d'envoi de Mail</h1>
            </div>
        </div>
        <div id="email" class="container">
            <form id="email_form">
                <div class="form-inline"><label>Vers: </label><input class="form-control flex-grow-1" name="to"/></div>
                <div class="form-inline"><label>Objet: </label><input class="form-control flex-grow-1" name="subject"/></div>
                <div><textarea class="form-control" name="mail_body" rows="10"></textarea></div>
            </form>
            <button id="send_email" class="btn btn-success">Envoyer</button>
        </div>
{{ include('layouts/footer.html.twig') }}